<% if @article.errors.any? %>
<div class="error">
<p>The following errors are preventing the article from being created:</p>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>