<div class="row">
  <div class="twelve columns grey center"><h2>Simple Archive of all articles</h2></div>
</div>

<% @articles.each do |x| %>

<div class="row">
  <div class="two columns grey center">
    <%= link_to 'ID', article_path(x.id) %><br />
    <%= x.id %>      
  </div>
  <div class="four columns grey center">
    Title<br />
    <%= x.title %>
  </div>
  <div class="six columns grey center">
    Description<br />
    <%= x.description %>
  </div>
</div>

<% end %>
