<%= stylesheet_link_tag "skeleton" %>

<div class="container">

  <div class="row">
    <div class="twelve columns"><h1>Alpha-blog</h1></div>
  </div>

  <div class="row">
    <div class="four columns"><p><%= link_to 'Home', pages_home_path %></p></div>
    <div class="four columns"><p><%= link_to 'About', pages_about_path %></p></div>
    <div class="four columns"><p><%= link_to 'Archive', pages_archive_path %></p></div>
  </div>

  <div class="row">
    <div class="two columns"><p>Tuesday<br />July 16, 2019</p></div>
    <div class="ten columns"><p>Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By rent an part need. At wrong of of water those linen. Needed oppose seemed how all. Very mrs shed shew gave you. Oh shutters do removing reserved wandered an. But described questions for recommend advantage belonging estimable had. Pianoforte reasonable as so am inhabiting. Chatty design remark and his abroad figure but its.</p><p>Months on ye at by esteem desire warmth former. Sure that that way gave any fond now. His boy middleton sir nor engrossed affection excellent. Dissimilar compliment cultivated preference eat sufficient may. Well next door soon we mr he four. Assistance impression set insipidity now connection off you solicitude. Under as seems we me stuff those style at. Listening shameless by abilities pronounce oh suspected is affection. Next it draw in draw much bred.</p></div>
  </div>

</div>
