<div class="row">
  <div class="twelve columns grey center">
    © 2019 Alpha-blog<br/>
    <div class="text foot">
      Somebody came to me last year to have his portrait done.<br />
      He offered an extravagant price.<br />
      I refused him.<br />
      There was something in the shape of his fingers that I hated.<br />
      Website powered by Rails 5. Stylesheet framework provided by <a href="http://getskeleton.com/">Skeleton</a>
    </div>
  </div>
</div>