<div class="row">
  <div class="twelve columns grey center">
    <h1>Alpha-blog</h1>
  </div>
</div>

<div class="row">
  <div class="three columns grey center">
    <%= link_to 'Home', root_path %>
  </div>
  <div class="three columns grey center">
    <%= link_to 'About', about_path %>
  </div>
  <div class="three columns grey center">
    <%= link_to 'Archive', archive_path %>
  </div>
  <div class="three columns grey center">
    <%= link_to 'Index', articles_path %>
  </div>
</div>
